@charset "utf-8";
@import url(common.css)

/*基本レイアウト*/
body{

}
header,nav,.breadcrumb,.wrap,footer{
  width: 840px;
  margin-left: auto;
  margin-right: auto;
}


header h1{
  margin: 0 0 26px 0;
  padding-top: 28px;
  text-align: center;
}


/*パンくずリスト*/



.breadcrumb li{
  display:inline-block;/*横に並ぶように*/
  list-style: none;
  font-weight: bold;/*太字*/
  color:#ff8000;
}

.breadcrumb li:after{/* ▶を表示*/
  content: '>';
  padding: 0 3px;
  color: #ff8000;
}

.breadcrumb li:last-child:after{
  content: '';
}

.breadcrumb li a {
    display: inline-block;
    padding: 3px 10px;
    border-radius: 15px;
    text-decoration: none;
    color: #ff8000;
    background: #ffbf80;
    font-size: 0.9em;
}

.breadcrumb li a:hover {
    background: #ffe6cc;
}display: block;

nav ul{

  min-width: 0 0 20px 0;
  padding-left: 0;
  overflow:hidden;
}

nav ul li{
    list-style-type:none;
  width: 150px;
  float: left;
}


/*  */